* {
	  box-sizing: border-box;
		    font-family: Arial, Helvetica, sans-serif;
}

body {
	  margin: 0;
	  width: 100%;
          font-family: Arial, Helvetica, sans-serif;
}

.logo {
	float:left;
	display:block;
	font-size: medium;
	padding: 20px;
}

/* Style the top navigation bar */
.topnav {
	  padding: 20px;
	  overflow: hidden;
	  margin: auto;
	  width: 700px;
	  font-size: small;
}

header {
	border-top: 5px solid #424242;
	border-bottom: 1px solid #e8e8e8;
	min-height: 55.95px;
	position: relative;

}

/* Style the topnav links */
.topnav a {
	  float: left;
          display: block;
	  text-align: center;
          padding: 50px 5px;
	  text-decoration: none;
	  color: black;
}
 
/* Change color on hover */
.topnav a:hover {
	text-decoration: underline
}

.topnav img {
	float:left;
	width: 100px;
    	height: 100px;
 	display: block;
	padding: 10px 10px;
}

.topnav b {
	color: red;
}

.menubar{
	float:right;
}

.topnav .icon {
	  display: none;
}

/* Style the banner */
.banner {
		padding: 20px;
		line-height: 0.8;
		text-align: center;
	  	margin: auto;
	  	width: 700px;
}

/* Splash formatting */
.boldchar {
	font-weight: 1000;
	color: red;
}
h1.normalchar {
	font-weight: 200;
}

/* Style the content */
.content {
		padding: 20px;
		text-align: justify;
		line-height: 1.8;
	  	margin: auto;
	  	width: 700px;
		font-size: small;
}
.newsbold {
	font-weight: 800;
	color:red;
}

/* Element to hold a chart.js chart */
.chart-holder {
		position: absolute;
		top: 8px;
		left: 8px;
		right: 8px;
		bottom: 8px;
}

.iframe-container {
	  overflow: hidden;
	    padding-top: 56.25%;
	      position: relative;
      }
       
.iframe-container iframe {
	         border: 0;
		    height: 100%;
		       left: 0;
		          position: absolute;
			     top: 0;
			        width: 100%;
			}

img {
	margin-top: 20px;
	width:80%;
	height:auto;
 	display: block;
   	margin-left: auto;
    	margin-right: auto;
}

.fadein {
	animation:fadingin 5s 1
}

@keyframes fadingin{0%{opacity:0}100%{opacity:1};
}
@keyframes fadingout{0%{opacity:1}100%{opacity:0};
}

/* Style the footer */
footer {
	border-top: 1px solid #e8e8e8;
	padding: 15px 0;
	position: relative;
}
.site-footer {
	margin: auto;
	width: 700px;
	padding: 20px;
	font-size: small;
}
.footer-heading {
	font-size: medium;
	font-weight: 600;
	color: #828282;
	margin-bottom: 15px;
}
.footer-heading-red {
	color: #ff8282;
}
.footer-content {
	color: #828282;
}
.footer-tagline {
	color: #828282;
	margin-bottom: 15px;
}
.footer-col {
    	float: left;
    	margin-bottom: 15px;
}
.footer-col-1 {
	box-sizing: border-box;
	width: 50%;
}
.footer-col-2 {
	box-sizing: border-box;
	width: 50%;
	text-align: right;
}

@media screen and (max-width: 700px) {
	.topnav {width:100%}
	.content {width:100%}
	.site-footer {width:100%}
	.banner {width:100%}
	.menubar {
		  display:block;
		 }
}
