* {
	  box-sizing: border-box;
		    font-family: Arial, Helvetica, sans-serif;
}

body {
	  margin: auto;
	  width: 50%;
          font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
	  overflow: hidden;
		    background-color: #333;

}

/* Style the topnav links */
.topnav a {
	  float: left;
		    display: block;
			      color: #f2f2f2;
				        text-align: center;
						  padding: 14px 16px;
							    text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
	  background-color: #f1f1f1;
		    color: black;
}

/* Selected link */
.topnavcurrent a {
	  	background-color: #ddd;
		    color: black;
}

.topnav .icon {
	  display: none;
}

@media screen and (max-width: 800px) {
	 .topnav a:not(:first-child) {display: none;}
	 .topnav a.icon {
		   float: right;
	           display: block;
	}
}

@media screen and (max-width: 800px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media screen and (max-width: 800px) {
	body {
		width:100%;
		margin: auto;
          	font-family: Arial, Helvetica, sans-serif;
	}
}

/* Style the banner */
.banner {
	  background-color: #ddd;
		    padding: 20px;
		line-height: 0.8;

			      
}
/* Style the tagline */
.tagline {
	font-style: oblique;      
}

/* Title formatting */
.boldchar {
	font-weight: 1000;
}
h1.normalchar {
	font-weight: 200;
}

/* Style the content */
.content {
	  background-color: #f1f1f1;
		padding: 20px;
		text-align: justify;
		line-height: 1.8;

}

/* Element to hold a chart.js chart */
.chart-holder {
	  background-color: #f1f1f1;
		position: absolute;
		top: 8px;
		left: 8px;
		right: 8px;
		bottom: 8px;
}

.iframe-container {
	  overflow: hidden;
	    padding-top: 56.25%;
	      position: relative;
      }
       
.iframe-container iframe {
	         border: 0;
		    height: 100%;
		       left: 0;
		          position: absolute;
			     top: 0;
			        width: 100%;
			}

img {
	margin-top: 20px;
	width:80%;
	height:auto;
 	display: block;
   	margin-left: auto;
    	margin-right: auto;
}

.fadein {
	animation:fading 10s 1}
	@keyframes fading{0%{opacity:0}100%{opacity:1};
}
